.page__case {}

.container {}

.case__body {}

.case__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 80%;
    text-align: right;
    color: #FFFFFF;
    border-right: 10px solid #DAB600;
    margin-top: 190px;
    margin-bottom: 30px;
    padding-right: 15px;
    transition: all 0.3s ease-in-out;
}

.case__title:hover {
    font-size: 110px;
}

.case__item {}

.case__slide {}

.case__items {
    display: flex;
    gap: 110px;

}

.case__items-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 90%;
    color: #FFFFFF;
    border-left: 8px solid #DAB600;
    margin-bottom: 33px;
    padding-left: 15px;

}

.case__items-titles {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 80%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.case__items-text {
    font-size: 16px;
    line-height: 145%;
    color: #FFFFFF;
    margin-bottom: 37px;
}

.case__box2 {
    /* height: 270px; */
}

.case__items-texts {
    font-size: 16px;
    line-height: 145%;
    color: #FFFFFF;
}


.case__slide-vid {
    width: 609px;
    height: 374px;
}

.slick-initialized .slick-slide {
    display: flex;
}


.slider__arrows-left-case {
    position: absolute;
    /* left: 494px; */
    border: 0;
    bottom: 0;
    padding: 5px 11px 3px 9px;
    font-size: 29px;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease-in-out;
    background: #FFFFFF;
    right: 674px;
    /* z-index: 1000; */
}

.slider__arrows-left-case:hover {
    background: #DAB600;
}

.slider__arrows-right-case {
    position: absolute;
    /* left: 545px; */
    border: 0;
    bottom: 0;
    padding: 5px 11px 3px 9px;
    font-size: 29px;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease-in-out;
    background: #FFFFFF;
    right: 624px;
}

.slider__arrows-right-case:hover {
    background: #DAB600;
}

.case__video {
    width: 609px;
    /* height: 374px; */
}

@media (max-width: 1100px) {
    .slick-initialized .slick-slide {
        flex-direction: column;
        gap: 31px;
    }

    .slider__arrows-left-case {
        right: 53px;
        bottom: 203px;
    }

    .slider__arrows-right-case {
        right: 0;
        bottom: 203px;
    }

    .case__video {
        width: 100%;
        height: 553px;
    }

    .case__slide-vid {
        /* width: 100%; */
        height: 553px;
        margin: 0 auto;
    }

    .case__box1 {
        order: 1;
    }

    .case__slide-vid {
        /* width: 100%; */
        height: 276px;
    }

    .case__video {
        width: 100%;
        height: 272px;
    }
}


@media (max-width: 916px) {
    .slider__arrows-left-case {
        bottom: 221px;
    }

    .slider__arrows-right-case {
        bottom: 221px;
    }
}



@media (max-width: 746px) {
    .slider__arrows-left-case {
        bottom: 243px;
    }

    .slider__arrows-right-case {
        bottom: 243px;
    }
}

@media (max-width: 735px) {
    .case__slide-vid {
        width: 100%;
        height: 276px;
    }

    .case__video {
        width: 100%;
        height: 272px;
    }
}


@media (max-width: 676) {
    .slider__arrows-left-case {
        bottom: 238px;
    }

    .slider__arrows-right-case {
        bottom: 238px;
    }
}



@media (max-width: 588px) {
    .slider__arrows-left-case {
        bottom: 223px;
    }

    .slider__arrows-right-case {
        bottom: 223px;
    }

    .case__title {
        margin-top: 100px;
    }
}



@media (max-width: 590px) {
    .case__items-titles {
        font-size: 20px;
    }

    .case__items-text {
        font-size: 15px;
    }

    .case__items-texts {
        font-size: 15px;
    }

    .case__title {
        font-size: 40px;
        margin-bottom: 10px;
        padding-right: 5px;
    }

    .case__title:hover {
        font-size: 40px;
    }
}

@media (max-width: 460px) {
    .slider__arrows-left-case {
        bottom: 240px;
    }

    .slider__arrows-right-case {
        bottom: 240px;
    }
}

@media (max-width: 400px) {
    .case__slide-vid {
        width: 100%;
        height: 276px;
    }

    .case__video {
        width: 100%;
        height: 272px;
    }

    .slider__arrows-left-case {
        bottom: 257px;
    }

    .slider__arrows-right-case {
        bottom: 257px;
    }
}


@media (max-width: 376px) {
    .slider__arrows-left-case {
        bottom: 280px;
    }

    .slider__arrows-right-case {
        bottom: 280px;
    }
}

@media (max-width: 339px) {
    .slider__arrows-left-case {
        bottom: 302px;
    }

    .slider__arrows-right-case {
        bottom: 302px;
    }
}