.page__why {}

.container {}

.why__body {
    display: flex;
    justify-content: space-between;
    padding-top: 170px;
}

.why__box {
    width: 50%;
}

.why__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 130%;
    color: #FFFFFF;
    position: sticky;
    top: 90px;
}

.why__title span {
    border-bottom: 4px solid #DAB600;

}




@media (max-width: 1010px) {
    .why__body {

        flex-direction: column;
    }

    .why__box {
        width: 100%;
        margin-bottom: 50px;

    }

}

.slider__arrows-left-why {
    position: absolute;
    border: 0;
    padding: 5px 11px 3px 9px;
    font-size: 29px;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease-in-out;
    background: #FFFFFF;
    top: 223px;
    right: 50px;
}

.slider__arrows-right-why {
    position: absolute;
    border: 0;
    padding: 5px 11px 3px 9px;
    font-size: 29px;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease-in-out;
    background: #FFFFFF;
    top: 223px;
    right: 0;
}


.why__boxs {
    width: 40%;
}

.why__item {
    padding-bottom: 110px;
}

.sori {
    padding-bottom: 0;
}

.why__items {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 90%;
    text-align: right;
    color: #FFFFFF;
    /* padding-bottom: 20px; */
    margin-bottom: 40px;

}


.why__items span {
    border: 3px solid #DAB600;
    padding: 12px 20px 10px 17px;
    border-radius: 50%;
    margin-left: 20px;
}

.why__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 145%;
    text-align: right;
    color: #FFFFFF;

}

.slick-dots {
    display: flex;
    /* justify-content: center; */
    gap: 40px;
    font-size: 0px;
    align-items: center;
    color: #fff;
    /* padding-top: 20px; */
}

.slick-dots li>button {
    width: 16px;
    height: 17px;
    /* border: 1px solid #83A9FF; */
    background: #fff;
    border-radius: 20px;
    color: #fff;
}


.slick-dots li.slick-active>button {
    /* background: #83A9FF; */
    width: 24px;
    height: 25px;
}


@media (max-width: 1223px) {
    .why__boxs {
        width: 45%;
    }

    .why__title {
        font-size: 88px;
    }
}

@media (max-width: 1100px) {
    .why__boxs {
        width: 53%;
    }
}

@media (max-width: 1100px) {
    .why__boxs {
        width: 100%;
    }

    .why__text {
        max-width: 100%;
    }

    .why__item {
        padding-bottom: 40px;
        padding-top: 40px;

    }

    .why__title {
        font-size: 30px;
    }

    .why__title span {
        border-right: 3px solid #DAB600;
        padding-right: 20px;
        border-bottom: 0px;

    }
}

@media (max-width: 545px) {
    .slider__arrows-left-why {
        top: 227px;
    }

    .slider__arrows-right-why {
        top: 227px;
    }

    .why__items {
        font-size: 24px;
    }

    .why__items span {
        font-size: 28px;
    }

    .why__text {
        font-size: 15px;
    }


}


@media (max-width: 450px) {
    .slick-dots {
        gap: 22px;
    }

    .slider__arrows-left-why {
        top: 268px;
    }

    .slider__arrows-right-why {
        top: 268px;
    }
}